.container {
  background-color: #1d8f85;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

input {
  margin: 0;
  border: none;
  width: 75%;
  padding: 10px;
  font-size: 16px;
}
#add {
  padding: 10px;
  width: 20%;
  background: #d9d9d9;
  color: black;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border:none;
  margin: 5px;
}

#add:hover {
    background-color: #bbb;
  }

.listElement{
  display:flex;
  justify-content: start;
  flex-wrap: wrap;
  align-items: center;
  margin:1%;
  position: relative;
}

span{
  padding: 5px;
  color:black;
}
.control-btns{
    margin-left: auto;
}
.edit{
  width: fit-content;
  height: fit-content;
  padding:5px;
  border-radius: 5px;
  border:none;
  
}
.checkbox{
  padding:5px;
  background-color: #1d8f85;
  margin-right:5px;
  border-radius: 5px;
  border: none;
}

.delete{
  background-color: red;
  height: fit-content;
  padding:5px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 5px;
  border:none;
}

.checkbox:hover, .delete:hover, .edit:hover{
  cursor: pointer;
  background-color: rgb(212, 178, 134);
}
.listElement p {
  color: black;
  overflow: scroll;
  margin-left: 5px;
}

.listElement .completed{
  text-decoration: line-through;
  color:red;
}

#list{
  border: 2px solid;
}

#list :nth-child(odd of .listElement){
  background-color: rgb(228, 201, 163);
}

#list :nth-child(even of .listElement){
  background-color: rgb(235, 231, 226);
}
.menu{
  display:flex;
  justify-content: flex-start;
  padding:10px;
  font-size: larger;
  flex-wrap: wrap;
}

.menu span{
  text-decoration: solid;
  color: white;
  padding:10px;
}
.menu span:hover {
  cursor: pointer;
  background-color: #807e7e;
}
.menu button{
  margin-left: auto;
}
.menu button:hover {
  cursor: pointer;
  background-color:#807e7e
}

.active{
  background-color: #bbb;
  border-radius: 5px;
}

@media all and (max-width:720px) {
  .menu {
    flex-direction: column;
  }
  .listElement{
    flex-direction: column;
  }
  .clear{
    margin: auto;
  }
  .control-btns{
    margin-left: 5px;
  }
}

